.movies-list {
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1023px;
  }
  
  .search {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .owl-carousel-holder{
    width:100%;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.carousel-section{
  width: 100%;
  height: 400px;
  float: left;
  margin-top: 60px;
}

.slider-image-section{
  width: 100%;
  float: left;
}