header {
    height: 55px;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 1002px;
        text-align: left;
        height: 84px;
    }

    .logo {
        padding-top: 10px;
        @media screen and (min-width: 768px) {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

}

.owl-carousel-holder{
    width:100%;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}