<div class="nav">
  <div class="back"><a routerLink="/movies">Go Back to Movies</a></div>
</div>
<div class="movie-details">
  <div class="details-container">
      <div class="img-box"><img src="../../assets/movie-covers/{{movie.img}}" alt="movie image"/></div>
      <div class="content-box">
        <h1>{{movie.name}}</h1>
        <div class="item">{{movie.description}}</div>
        <div class="item">{{movie.length}}</div>
        <div class="item"><app-rating [rating]="movie.rate"></app-rating></div>
        <div class="play-btn">
            <button mat-stroked-button color="accent" *ngIf="ytEvent !== 1"
            (click)="playVideo()">
            Watch Trailer
          </button>
          <button *ngIf="ytEvent === 1"
             mat-stroked-button color="accent" 
            (click)="pauseVideo()">
            Pause Trailer
          </button>
        </div>
      </div>
      <div class="video-box">

  <section>
      <section>
        <youtube-player
          [videoId]="movie.trailerId"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          >
        </youtube-player>
      </section>
      <div class="card-body"></div>
    </section>
      </div>
  </div>
</div>
